Simple Offline Currency Converter (Basic Python)

rates = {
    "USD": 1.0,        # base currency
    "INR": 83.20,
    "EUR": 0.94,
    "GBP": 0.82,
    "AED": 3.67,
    "JPY": 157.12
}

def convert(amount, from_curr, to_curr):
    if from_curr not in rates or to_curr not in rates:
        return None
    # Convert to USD → then to target currency
    usd_value = amount / rates[from_curr]
    return usd_value * rates[to_curr]


print("=== Currency Converter ===")

amount = float(input("Enter amount: "))
from_currency = input("From currency (USD, INR, EUR, GBP, AED, JPY): ").upper()
to_currency = input("To currency (USD, INR, EUR, GBP, AED, JPY): ").upper()

result = convert(amount, from_currency, to_currency)
